<div class="flex justify-center items-center">
    <form class="card medium">
      <div class="mt-4">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </div>

      <div class="mt-4 mb-4">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </div>

      <div class="flex gap-2 justify-end">
        <button class="btn btn-success" type="submit">Login</button>
        <a class="btn btn-danger" routerLink="/home">Cancel</a>
      </div>
    </form>
</div>
